.content
	.container-fluid
		.breadcrumbs.row
			a(href="index.html")
				i.fa.fa-home
			i.fa.fa-caret-right
			span Document
			i.fa.fa-caret-right
			b 207/97 Africa Legal Aid (on behalf of Isaac and Robert)
		.row
			//
				aside.col-sm-3
					p Some things.
			.alert.alert-success
				i.fa.fa-check
				span Congratulations! The relationship has been created.
				i.fa.fa-close
			.alert.alert-danger
				i.fa.fa-exclamation-circle
				span Your karma level is not enough to create the relationship. Sorry.
				i.fa.fa-close
			main.document-viewer.col-sm-8.col-sm-offset-2(style="display: none")
				include content.jade
			//include ../aside-metadata/content_text.jade
	//include modal.jade
	include relationships.jade
	
	.loader.loader-doc
		.loader-bullet
		.loader-bullet
		.loader-bullet
		
	.float-btn.btn-fixed
		.float-btn__sec
			span Relationship to a paragraph
			i.fa.fa-paragraph
		.float-btn__sec
			span Relationship to a document
			i.fa.fa-file-o
		.float-btn__main
			i.fa.fa-bar-chart
