aside.create-modal.col-xs-10.col-sm-4
  h1 Document Relationships (22)
  i.fa.fa-close
  .item-group
    - var c = 0
    while (c < 1)
      - c ++
      li
        .item(id="aside-rel1")
          .item-name 003 12 Peter Joseph Chacha v The United Republic of Tanzania
          .item-metadata
            a(href="document2.html").item-shortcut
              i.fa.fa-file-o
            span.item-type.label.label-default Based on
      li
        .item(id="aside-rel2")
          .item-name 13 88 Hadjali Mohamad Algeria
          p.item-snippets On their arrival in The Gambia, it is reported that the minor, Isaac Banda, was not allowed access to education. 
            i.fa.fa-angle-right
          .item-metadata
            a(href="document2.html").item-shortcut
              i.fa.fa-file-o
            span.item-type.label.label-default Supports
      li
        .item(id="aside-rel3")
          .item-name 137 94 139 94 154 96 161 97 International PEN, Constitutional Rights Project, Civil...
          .item-metadata
            a(href="document2.html").item-shortcut
              i.fa.fa-file-o
            span.item-type.label.label-default Contradicts
      - var c = 0
      while (c < 4)
        li
          .item(id="aside-rel4")
            .item-name 003 12 Peter Joseph Chacha v The United Republic of Tanzania
            .item-metadata
              a(href="document2.html").item-shortcut
                i.fa.fa-file-o
              span.item-type.label.label-default Based on
        li
          .item(id="aside-rel4")
            .item-name 13 88 Hadjali Mohamad Algeria
            p.item-snippets On their arrival in The Gambia, it is reported that the minor, Isaac Banda, was not allowed access to education. 
              i.fa.fa-angle-right
            .item-metadata
              a(href="document2.html").item-shortcut
                i.fa.fa-file-o
              span.item-type.label.label-default Supports
        li
          .item(id="aside-rel4")
            .item-name 137 94 139 94 154 96 161 97 International PEN, Constitutional Rights Project, Civil...
            .item-metadata
              a(href="document2.html").item-shortcut
                i.fa.fa-file-o
              span.item-type.label.label-default Contradicts
        - c++
