.upload-items.item-group.row
	- var c = 1;
	each document in documents
		li.col-sm-4
			// item1, item2, item3... are just for prototyping purposes. please edit it with item-success, item-danger, etc...
			.item.item-status(class="item"+c)
				- c++;
				.item-name(href="uploads-document.html")= document.id+' '+document.name
				.item-metadata
					.item-shortcut
						i.fa.fa-file-o
					if (c == 2)
						span.label.label-info
							i.fa.fa-upload
							span 0% Complete
						.progress
							.progress-bar.progress-bar-striped.active(aria-valuenow="45", aria-valuemin="0", aria-valuemax="100", style="width: 0%")
								.sr-only 0% Complete
					else if (c == 9)
						span.label.label-danger(data-toggle="modal" data-target="#modal-danger")
							i.fa.fa-close
							span Upload failed
					else if (c == 5)
						span.label.label-danger(data-toggle="modal" data-target="#modal-danger")
							i.fa.fa-close
							span Conversion failed
					else if (c == 3 || c == 10)
						span.label.label-warning(data-toggle="modal" data-target="#modal-warning")
							i.fa.fa-warning
							span Metadata required
					else
						span.label.label-success(data-toggle="modal" data-target="#modal-success") 
							i.fa.fa-check
							span Ready for publish
