.content
	.container-fluid
		.breadcrumbs.row
			a(href="index.html")
				i.fa.fa-home
			i.fa.fa-caret-right
			b Library
		.row
			main.document-viewer.col-xs-12
				.alert.alert-success
					i.fa.fa-check
					span The document has been updated!
					i.fa.fa-close
				include content.jade
			include ../aside-metadata/content_text.jade
			include ../aside-metadata/content_label.jade
	
	.loader
		.loader-bullet
		.loader-bullet
		.loader-bullet
		
	.float-btn.btn-fixed
		.float-btn__sec
			span Download
			i.fa.fa-download
		.float-btn__sec
			span Delete
			i.fa.fa-trash
		.float-btn__sec
			span Unpublish
			i.fa.fa-eye-slash
		.float-btn__main
			span Edit
			i.fa.fa-filter
