$c-white: 			      #FFFFFF;
$c-grey-lighten:      #FDFDFD;
$c-grey-light:        #EEEEEE;
$c-grey: 				      #CCCCCC;
$c-grey-dark: 	      #616E70;
$c-black: 			      #222222;
$c-primary-dark:      #09436F;
$c-primary:           #337AB7;
$c-primary-light:     #B6D8FB;
$c-primary-lighten:   #F6F9FC;
$c-secondary-dark:    #86714A;
$c-secondary:         #FFCC66;
$c-secondary-light:   #FFD98B;
$c-secondary-lighten: #FFEEBB;

$c-success:           #8BC74C;
$c-success-light:     #C2F2C2;
$c-danger:            #ED353D;
$c-danger-light:      #FFCED0;
$c-warning:           #FFA500;
$c-warning-light:     #FFEEBB;

$c-shadow: 			      transparentize($c-black, .9);
$c-shadow-dark: 			transparentize($c-black, .8);
$c-shadow-darker: 		transparentize($c-black, .5);
