footer
	.container-fluid
		.row
			.col-sm-3
				h5 
					i.fa.fa-heart-o
					| What we do
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque eveniet labore nihil.
			.col-sm-3
				h5 
					i.fa.fa-support
					| Help center
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque eveniet labore nihil.
			.col-sm-3
				h5 
					i.fa.fa-share-alt
					| Connect with us
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque eveniet labore nihil.
			.col-sm-3
				p Powered with Uwazi.
				
script(src="./scripts/jquery.min.js")
script(src="./scripts/bootstrap.min.js")
script(src="./scripts/app.js")
