<!DOCTYPE html>
html(lang="en")
	include templates/head.jade
			
	body
		include templates/nav.jade
		include templates/header.jade
		include templates/document/layout.jade
		include templates/footer.jade
