<!DOCTYPE html>
html(lang="en")
  include templates/head.jade

  body
    div(id="app")
      include templates/nav.jade
      include templates/header.jade
      include templates/login/layout.jade
      include templates/footer.jade
