body {
  overflow: hidden;
  font-family: $f-regular;
  font-size: $f-size;
  background-color: $c-primary-lighten;
  color: $c-black;
}

label {
  font-weight: normal;
}

dl {
  padding: 15px;
  margin-bottom: 5px;
  background: $c-grey-light;
}

dt {
  line-height: 2em;
  font-size: $f-size-sm;
  text-transform: uppercase;
  letter-spacing: .1em;
}
