.breadcrumbs {
  display: none;
  padding: 7px 15px;
  font-size: $f-size-sm;
  text-transform: uppercase;
  letter-spacing: .1em;
	color: $c-grey-dark;
  border-bottom: 1px dotted $c-grey;

  b {
    color: $c-black;
  }

  .fa {
    margin: 0 10px;
  }

  .fa-home {
    margin: 0;
  }

  a {
    color: $c-grey-dark;
  }
}
