.loader {
  position: relative;
  display: block;
  width: 40px;
  height: 0;
  overflow: hidden;
  margin: auto;
  transition: all 500ms;
  &.loading {
    opacity: 1;
    height: 15px;
  }

  $animationDuration: 2s;
  $animationDelay: $animationDuration/3;
  .loader-bullet {
    position: absolute;
    bottom: 0;
    display: block;
    margin: 0;
    background: $c-primary;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    opacity: 0;
    animation: loader-bullet $animationDuration ease-in-out 0s infinite;
  }
  .loader-bullet:nth-child(2) {
    opacity: 0;
    animation-delay: $animationDelay;
  }
  .loader-bullet:nth-child(3) {
    opacity: 0;
    animation-delay: $animationDelay*2;
  }
}
@keyframes loader-bullet {
  0% {
    left: 0%;
    opacity: 0;
  } 20% {
    left: 25%;
    opacity: 1;
  } 80% {
    left: 55%;
    opacity: 1;
  } 100% {
    left: 80%;
    opacity: 0;
  }
}

.document {
  opacity: 1;
  transition: all 500ms;
  &.loading {
    opacity: 0;
  }
}
