.loader {
  position: relative;
  display: none;
  width: 64px;
  height: 32px;
  overflow: hidden;
  margin: 15px auto;

  $animationDuration: 2s;
  $animationDelay: $animationDuration/3;
  .loader-bullet {
    position: absolute;
    top: 50%;
    display: block;
    margin: 0;
    background: $c-primary;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    opacity: 0;
    animation: loader-bullet $animationDuration ease-in-out 0s infinite;
  }
  .loader-bullet:nth-child(2) {
    opacity: 0;
    animation-delay: $animationDelay;
  }
  .loader-bullet:nth-child(3) {
    opacity: 0;
    animation-delay: $animationDelay*2;
  }
}
@keyframes loader-bullet {
  0% {
    left: 0%;
    opacity: 0;
  } 20% {
    left: 25%;
    opacity: 1;
  } 80% {
    left: 55%;
    opacity: 1;
  } 100% {
    left: 80%;
    opacity: 0;
  }
}

// this is just for prototype
.loader-doc {
  display: block;
}
