.panel-default>.panel-heading {
	font-weight: bold;
	font-size: $f-size-lg;
	border-bottom: 0;
}

.list-group-item {
	border-color: $c-grey-light;
}

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
	z-index: 2;
	color: $c-primary-dark;
	border-left: 3px solid $c-primary !important;
	border-color: $c-grey-light;
}

.list-group-item.active {
	background-color: $c-white;
}

.list-group-item:focus,
.list-group-item:hover,
.list-group-item.active:focus,
.list-group-item.active:hover {
	background-color: $c-grey-lighten !important;
}
