.template
	.row
		.col-sm-4
			.panel.panel-default
				.panel-heading Document type
				ul.list-group
					li.list-group-item 
						a(href="metadata-document.html") Decision
						.btn.btn-danger.btn-xs.pull-right
							i.fa.fa-trash
						a.btn.btn-default.btn-xs.pull-right(href="metadata-document.html")
							i.fa.fa-pencil
					li.list-group-item 
						a(href="metadata-document.html") Ruling
						.btn.btn-danger.btn-xs.pull-right
							i.fa.fa-trash
						a.btn.btn-default.btn-xs.pull-right(href="metadata-document.html")
							i.fa.fa-pencil
					li.list-group-item 
						a(href="metadata-document.html") Judgements
						.btn.btn-danger.btn-xs.pull-right
							i.fa.fa-trash
						a.btn.btn-default.btn-xs.pull-right(href="metadata-document.html")
							i.fa.fa-pencil
					.panel-footer
						i.fa.fa-plus
						|  Add document type
		.col-sm-4
			.panel.panel-default
				.panel-heading Relationship types
				ul.list-group
					li.list-group-item 
						a(href="metadata-relationship.html") Based on
						.btn.btn-danger.btn-xs.pull-right
							i.fa.fa-trash
						a.btn.btn-default.btn-xs.pull-right(href="metadata-relationship.html")
							i.fa.fa-pencil
					li.list-group-item 
						a(href="metadata-relationship.html") Supports
						.btn.btn-danger.btn-xs.pull-right
							i.fa.fa-trash
						a.btn.btn-default.btn-xs.pull-right(href="metadata-relationship.html")
							i.fa.fa-pencil
					li.list-group-item 
						a(href="metadata-relationship.html") Contradicts
						.btn.btn-danger.btn-xs.pull-right
							i.fa.fa-trash
						a.btn.btn-default.btn-xs.pull-right(href="metadata-relationship.html")
							i.fa.fa-pencil
					.panel-footer
						i.fa.fa-plus
						|  Add relationship type
		.col-sm-4
			.panel.panel-default
				.panel-heading Dictionaries
				ul.list-group
					li.list-group-item 
						a(href="metadata-dictionary.html") Countries
						.btn.btn-danger.btn-xs.pull-right
							i.fa.fa-trash
						a.btn.btn-default.btn-xs.pull-right(href="metadata-dictionary.html")
							i.fa.fa-pencil
					li.list-group-item 
						a(href="metadata-dictionary.html") Judges
						.btn.btn-danger.btn-xs.pull-right
							i.fa.fa-trash
						a.btn.btn-default.btn-xs.pull-right(href="metadata-dictionary.html")
							i.fa.fa-pencil
					.panel-footer
						i.fa.fa-plus
						|  Add dictionary
