.content
	.container-fluid
		.breadcrumbs.row
			a(href="index.html")
				i.fa.fa-home
			i.fa.fa-caret-right
			b Metadata
		.row
			main.col-sm-12
				include content.jade
	.float-btn
		.float-btn__sec
			span Add document type
			i.fa.fa-file-o
		.float-btn__sec
			span Add relationship type
			i.fa.fa-link
		.float-btn__sec
			span Add dictionary
			i.fa.fa-book
		.float-btn__main
			i.fa.fa-plus
