.content.admin-content
  .row
    .col-xs-12.col-sm-4.col-sm-offset-4
      
      h1.admin-title
        small Welcome back, 
        span admin

      .panel.panel-default
        .panel-heading Collection settings
        .panel-body
          form
            .form-group
              label(for="collection_name") Name
              input.form-control(type="text", name="collection_name", id="collection_name", value="Collection name")
            button.btn.btn-success.pull-right(type="submit")
              i.fa.fa-save
              span  Save collection

      .panel.panel-default
        .panel-heading Account settings
        .panel-body
          form
            .form-group
              label(for="password") Password
              input.form-control(type="text", name="password", id="password", placeholder="New password")
            button.btn.btn-success.pull-right(type="submit")
              i.fa.fa-save
              span  Save account
      
      .text-center
        button.btn.btn-danger
          i.fa.fa-sign-out
          span  Logout
